<% include partials/header %>
<div class="container-fluid" style="padding-left:10px">
<h2>   Top 10 Movie Results</h2>
<div class="row" style="display:flex; flex-wrap: wrap;">
	<% data["Search"].forEach(function(movie) { %>
	<div class="col-sm-2">
		<div class="thumbnail">
			<img src=<%=movie["Poster"]%> style="height: 325px"/>
			<div class="caption">
				<strong><%= movie["Title"] %></strong> 
			 - <%=movie["Year"]%>
			</div>
		</div>
	</div>
	<% }) %>
</div>
<a href="/">Please Search Again!</a>

<% include partials/footer %>
</div>
