<% include partials/header %>
<div class="container-fluid" style="padding-left:10px">
<h1>Merge Deployment Testing</h1>	
<form action="/results" method="GET">
    <div class="col-sm-3">
    	<input type="text" class="form-control" placeholder="Enter Movie Title" name="search">
    </div>
    <button type="submit" class="btn btn-danger" value="text">Search</button>
</form>
</div>
<% include partials/footer %>
<!-- 
	<div class="row" style="display:flex; flex-wrap: wrap;">
		<div class="row" style="display:flex; flex-wrap: wrap; align-content: center; padding-left:50px">
			<div class="col-med-6">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=51.024059,-114.051261&zoom=11&format=png&maptype=roadmap&style=element:geometry%7Ccolor:0xebe3cd&style=element:labels%7Cvisibility:off&style=element:labels.text.fill%7Ccolor:0x523735&style=element:labels.text.stroke%7Ccolor:0xf5f1e6&style=feature:administrative%7Celement:geometry.stroke%7Ccolor:0xc9b2a6&style=feature:administrative.land_parcel%7Celement:geometry.stroke%7Ccolor:0xdcd2be&style=feature:administrative.land_parcel%7Celement:labels.text.fill%7Ccolor:0xae9e90&style=feature:administrative.neighborhood%7Cvisibility:off&style=feature:landscape.natural%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:poi%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:poi%7Celement:labels.text.fill%7Ccolor:0x93817c&style=feature:poi.park%7Celement:geometry.fill%7Ccolor:0xa5b076&style=feature:poi.park%7Celement:labels.text.fill%7Ccolor:0x447530&style=feature:road%7Celement:geometry%7Ccolor:0xf5f1e6&style=feature:road.arterial%7Cvisibility:off&style=feature:road.arterial%7Celement:geometry%7Ccolor:0xfdfcf8&style=feature:road.highway%7Celement:geometry%7Ccolor:0x60d2f8%7Cvisibility:simplified&style=feature:road.highway%7Celement:geometry.fill%7Ccolor:0xe9e0aa&style=feature:road.highway%7Celement:geometry.stroke%7Ccolor:0xe9bc62&style=feature:road.highway%7Celement:labels%7Cvisibility:off&style=feature:road.highway%7Celement:labels.icon%7Cvisibility:off&style=feature:road.highway.controlled_access%7Celement:geometry%7Ccolor:0xe9d6ad&style=feature:road.highway.controlled_access%7Celement:geometry.stroke%7Ccolor:0xdb8555&style=feature:road.local%7Cvisibility:off&style=feature:road.local%7Celement:labels.text.fill%7Ccolor:0x806b63&style=feature:transit.line%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:transit.line%7Celement:labels.text.fill%7Ccolor:0x8f7d77&style=feature:transit.line%7Celement:labels.text.stroke%7Ccolor:0xebe3cd&style=feature:transit.station%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:water%7Celement:geometry.fill%7Ccolor:0xb9d3c2&style=feature:water%7Celement:labels.text.fill%7Ccolor:0x92998d&size=360x360&key=AIzaSyB2lFj9LIunHLZPlZXUD3kxTZEAlc2U96U">
				</img>
			</div>
		</div>
	</div>
</div> -->

